
<div  style="margin-left: 3%;margin-top: 5%;">
    <canvas   baseChart height=300  
            [colors]="chartColors"
            [datasets]="Item1ChartData"
            [labels]="Item1ChartLabels"
            [options]="Item1ChartOptions"
            [legend]="Item1ChartLegend"
            [chartType]="Item1ChartType"></canvas>
</div>
<div  >
    <canvas   baseChart height=300  
            [colors]="chartColors"
            [datasets]="Item1AChartData"
            [labels]="Item1AChartLabels"
            [options]="Item1AChartOptions"
            [legend]="Item1AChartLegend"
            [chartType]="Item1AChartType"></canvas>
</div>
<div  >
    <canvas   baseChart height=300  
            [colors]="chartColors"
            [datasets]="Item7ChartData"
            [labels]="Item7ChartLabels"
            [options]="Item7ChartOptions"
            [legend]="Item7ChartLegend"
            [chartType]="Item7ChartType"></canvas>
  </div>
<div >
    <canvas   baseChart height=300  
            [colors]="chartColors"
            [datasets]="Item7AChartData"
            [labels]="Item7AChartLabels"
            [options]="Item7AChartOptions"
            [legend]="Item7AChartLegend"
            [chartType]="Item7AChartType"></canvas>
</div>
